nav {
  position: sticky;
  top: 42px;

  background-color: white;
  display: flex;
  flex-direction: row;
  padding: 10px;

  .nav-links {
    display: flex;
    gap: 40px;
    flex-direction: row;
    list-style-type: none;

    margin-left: 200px;
    padding: 11px;

    font-size: 0.7em;
  }

  .actions {
    display: flex;
    gap: 20px;
    list-style-type: none;

    position: relative;
    left: 50px;

    margin-left: 200px;
    padding: 5px;
  }

  li {
    text-transform: uppercase;
  }

  .icon {
    width: 1.5em;
    height: auto;
  }
}
